@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply mb-3 text-4xl tracking-tighter text-center lg:text-7xl;
}

h3 {
  @apply mb-3 text-2xl font-bold;
}

/* Magic text  */
.magic-text{
    background: linear-gradient(90deg,#dfc7ff,#9ad5f9 15%,#ffffff 35%,#d3b1ff 50%,#9ad5f9 65%,#ffffff 85%,#dbc0ff);
    background-image: linear-gradient(90deg, rgb(226 204 255), rgb(255 255 255) 15%, rgb(89 134 236) 35%, rgb(215 185 255) 50%, rgb(255 255 255) 65%, rgb(87 141 240) 85%, rgb(201 197 255));

    background-size: 200% 100%;
    
    @apply bg-clip-text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    
    animation: shine 4s linear infinite;
}

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

/*magic button */
.button-container-1 {
  position: relative;
  width: 140px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 1px solid #3344ff;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(5, 5, 8, 0.3);
}

.button-container-1 button {
  @apply text-white bg-blue-800 font-quicksand;
  width: 101%;
  height: 100%;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}


.mas {
  @apply font-quicksand;
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 101%;
  position: absolute;
  font-size: 11px;
  margin-top: 17px;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.button-container-3 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  overflow: hidden;
  border: 1px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}
.button-container-3 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(70) forwards;
  animation: ani2 0.7s steps(70) forwards;
}
.button-container-3 button:hover {
  -webkit-animation: ani 0.7s steps(70) forwards;
  animation: ani 0.7s steps(70) forwards;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
