<footer class="{{ 'relative md:fixed' if path == 'home' }} bottom-0 text-center w-full py-4 bg-gray-700 text-white">
    <small class="text-white">Copyright ©
        {{settings.site}}
        2020. Made with <span class="hover:text-red-600">❤</span> by
        <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
        •
        <a href="#" class="hover:underline hover:text-indigo-500" target="_blank" rel="noopener">{{settings.description}}</a>
    </small>
</footer>
