<section id="nosotros" class="h-screen text-white bg-blue-900 border-t border-blue-800 body-font">
    <div class="px-5 py-24 mx-auto ">
        <div class="p-28">
            <div class='md:flex'>
                <div class="flex items-center p-8 text-white bg-blue-800 rounded-tl-lg md:w-6/12 sm:rounded-tr-lg md:rounded-tr-none md:rounded-bl-lg">
                    <div>
                        <h1 class="mb-5 text-4xl font-bold">Lorem <span class="text-blue-300">ipsum</span> is simply dummy text.</h1>
                        <h2 class="mb-12 text-sm">Lorem Ipsum is simply dummy 
                            text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the </h2>
                        <div class="flex flex-wrap items-center content-center justify-center">
                            <div class="mr-8">
                                <p class="text-2xl font-bold">1000+</p>
                                <p class="text-sm">Tazas de café</p>
                            </div>
                            <div class="mr-8">
                                <p class="text-2xl font-bold">1500+</p>
                                <p class="text-sm">Horas  de programación</p>
                            </div>
                            <div>
                                <p class="text-2xl font-bold">100k+</p>
                                <p class="text-sm">Lineas de codigo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative md:w-6/12">
                    <div class="absolute w-full h-full bg-blue-500 rounded-br-lg opacity-60 sm:rounded-bl-lg md:rounded-bl-none md:rounded-tr-lg"></div>
                    <img class="object-cover w-full h-full rounded-br-lg sm:rounded-bl-lg md:rounded-bl-none md:rounded-tr-lg" src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=550&q=80" alt="Banner Desktop"/>
                </div>
            </div>
        </div>
    </div>
</section>