<section id="servicios" class="text-gray-700 border-t-8 border-b-8 border-blue-500 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col w-full mb-20 text-center">
        <h2 class="mb-1 text-xs font-medium tracking-widest text-blue-500 title-font">Prebuilt for performance and deployed directly to netlify global edge network.</h2>
        <h1 class="text-2xl font-medium text-gray-900 sm:text-3xl title-font">Modern web apps</h1>
      </div>
      <div class="flex flex-wrap m-2">
        <div class="relative p-2 md:w-1/3">
          <div class="flex flex-col h-full p-8 rounded-lg bg-primary home-card card1">
            <div class="flex items-center mb-3">
              <div id="svg1" class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-3 text-white bg-blue-500 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                </svg>
              </div>
              <h2 class="text-lg font-medium text-white title-font">Sitios web más rápidos y seguros.</h2>
            </div>
            <div class="flex-grow">
              <p class="text-base leading-relaxed prose text-white">Utilizamos una nueva arquitectura revolucionaria llamada Jamstack, diseñada para hacer que la web sea más rápida y para admitir las nuevas herramientas y flujos de trabajo utilizados en el desarrollo web moderno.</p>
              <a class="inline-flex items-center mt-3 text-blue-500 hover:text-white" href="https://jamstack.org/" target="_blank" title="Ir al sitio web de Jamstack">Jamstack Site
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="relative p-2 md:w-1/3">
          <div class="flex flex-col h-full p-8 rounded-lg bg-primary home-card card2">
            <div class="flex items-center mb-3">
              <div id="svg2" class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-3 text-white bg-blue-500 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z" />
                </svg>
              </div>
              <h2 class="text-lg font-medium text-white title-font">Wordpress, NetlifyCMS, & 11ty</h2>
            </div>
            <div class="flex-grow">
              <p class="text-base leading-relaxed prose text-white">Ultima tecnología web.<br>WordPress es un software de código abierto que puedes usar para crear un hermoso sitio web, blog o app.<br> </p>
              <a class="inline-flex items-center mt-3 text-blue-500 hover:text-white" href="https://es-mx.wordpress.org/" target="_blank" title="Ir al sitio web de Wordpress">Wordpress.org
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="relative p-2 md:w-1/3">
          <div class="flex flex-col h-full p-8 rounded-lg bg-primary home-card card3">
            <div class="flex items-center mb-3">
              <div id="svg3" class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-3 text-white bg-blue-500 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                </svg>
              </div>
              <h2 class="text-lg font-medium text-white title-font">Tons of creativity, Tailwind & Boostrap</h2>
            </div>
            <div class="flex-grow">
              <p class="text-base leading-relaxed prose text-white">Tailwind elimina automáticamente todo el CSS no utilizado cuando se crea para producción, lo que significa que su paquete de CSS final es el más pequeño posible. De hecho, la mayoría de los proyectos de Tailwind envían menos de 10kB de CSS al cliente.</p>
              <a class="inline-flex items-center mt-3 text-blue-500 hover:text-white" href="https://tailwindcss.com/" target="_blank" title="Ir al sitio web de Tailwind">Tailwind Site
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>